body {
    font-family: sans-serif;
    margin: 0;
    padding-right:  50px;
    background-color: #c5c6df;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px 20px;
}

.introduction-link p {
    text-align: right;
    margin: 0;
}

.introduction-link a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.Text {
    text-align: center;
    color: rgb(0, 0, 0);
}

.mypic {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.des {
    text-align: center;
    margin: 20px;
}

.mypic {
    height: 150px;
    scale: 1 1;
    animation: mymove 5s infinite;
    justify-content: center;
    display: flex;

}

@keyframes mymove {
    50% {
        scale: 2 0.7;
    }
}

